
  <div class="row">
    <div class="col-md-12 profile-page">
      <%= image_tag @profile.image.url(:medium), class: 'avatar-round-image' %><br>
      <%= @profile.fullname %><br>
      <%= @profile.age %>, <%= @profile.country %><br>
      <%= link_to 'Edit Profile', edit_profile_path(@profile) %>
    </div>
  </div>


  <div class="row">
    <div class="col-md-3">

    </div>

    <div class="col-md-6">
      <div class="exchange-block">
        <h2 align="center">Summary</h2>
        <%= @profile.summary %>
    </div>
</div>

    <div class="col-md-3">
    </div>
  </div>


  <div class="row">

    <div class="col-md-3">
    </div>

    <div class="col-md-6">
      <div class="exchange-block">
        <h2 align="center">Looking For</h2>
          <%= @profile.looking_for %>
      </div>
    </div>

    <div class="col-md-3">
    </div>
  </div>


  <div class="row">

    <div class="col-md-3">
    </div>

    <div class="col-md-6">
      <div class="exchange-block">
        <h2 align="center">In Exchange Of</h2>
          <%= @profile.my_skill %>
      </div>
    </div>

    <div class="col-md-3">
    </div>
  </div>





</div>
