<div class="container">
  <!-- Example row of columns -->
  <div class="row-category">
    <div class="col-md-12">
      <h1 align="center">See Categories</h1>
    </div>

  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="category-block">
        <%= link_to image_tag("category-coding.png"), "skillsets/1" %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="category-block">
        <%= link_to image_tag("category-fitness.png"), "skillsets/2" %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="category-block">
        <%= link_to image_tag("category-cooking.png"), "skillsets/3" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="category-block">
        <%= link_to image_tag("category-entreprenuership.png"), "skillsets/4" %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="category-block">
        <%= link_to image_tag("category-arts.png"), "skillsets/5" %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="category-block">
        <%= link_to image_tag("category-outdoors.png"), "skillsets/6" %>
      </div>
    </div>
